<nav>
  <ul class="clearfix menu">

    <!-- <div class="navbar-header"> -->
      <li class="navbar-toggle burger" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
      <!-- <button type="button" class="navbar-toggle" > -->
        <span id="runningButton" >Menu</span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
      </li>
    <!-- </div> -->
    <div class="collapse navbar-collapse" ng-class="{ 'hide': main.isNavCollapsed }">
    <!-- <div class="collapse navbar-collapse"> -->
      <span class="floatLeft">
        <!-- <li ui-sref="home" ui-sref-active="active">Home</li>
        <li ui-sref="usersIndex" ui-sref-active="active">UsersIndex</li> -->
        <li ui-sref="tracksIndex" ui-sref-active="active">TracksIndex</li>
        <!-- <li ui-sref="tracksNew" ui-sref-active="active">TracksNew</li>
        <li ui-sref="sprintsIndex" ui-sref-active="active">SprintsIndex</li>
        <li ui-sref="sprintsNew" ui-sref-active="active">SprintsNew</li> -->
      </span>
      <span class="floatRight">
        <li ng-if="!main.isAuthenticated()" ui-sref="login" ui-sref-active="active">Login</li>
        <li ng-if="!main.isAuthenticated()" ui-sref="register" ui-sref-active="active">Register</li>
        <li ng-if="main.isAuthenticated()"><button ng-click="main.logout()">Logout</button></li>
      </span>
    </div>
  </ul>
</nav>
