<section>
  <h1>Select Your Route</h1>

  <div class="pure-g">

      <select name="city" ng-model="city" class="filter pure-u-1-1" placeholder="City">
        <option value="" selected>City</option>
        <option value="london">London</option>
        <option value="spain">Spain</option>
        <option value="italy">Italy</option>
        <option value="turkey">Turkey</option>
      </select>

      <select ng-model="tracksIndex.start" ng-options="landmark for landmark in tracksIndex.filtered.start" class="filter pure-u-1-1">
        <option selected value="">Start Landmark</option>
      </select>

      <select ng-model="tracksIndex.finish" ng-options="landmark for landmark in tracksIndex.filtered.finish" class="filter pure-u-1-1">
        <option selected value="">Finish Landmark</option>
      </select>

  </div>

  <div>
    Displaying routes:
    <ul class="trackIndex clearfix">
      <li ng-repeat="track in tracksIndex.allFiltered" class="listItem clearfix fill-height outer">
      <span><a ng-click="tracksIndex.getLatLng(track)" href="#map" class="trackName fill-height inner">{{ track.name }}</a></span>
        <a class="pure-button pure-button-primary fill-height inner" ui-sref= "tracksShow({ id: track.id })">Run now</a>
      </li>
    </ul>
    <a class="pure-button centered fw" href="#">Click to view new route on map</a>
  </div>
</section>

  <ng-map zoom="11" center="{{city}}" scrollwheel="false" class="fullscreen" id="map">
    <directions
      draggable="true"
      panel="directions-panel"
      travel-mode="WALKING"
      origin="{{tracksIndex.startLatLng}}"
      destination="{{tracksIndex.finishLatLng}}">
    </directions>
  </ng-map>
