<h1> Select Your Run</h1>

<select name="city">
  <option   value="london">London</option>
  <option disabled value="spain">Spain</option>
  <option disabled ="italy">Italy</option>
  <option disabled value="turkey">Turkey</option>
</select>

<select name="start">
  <option   value="london">Tower of London</option>

</select>

<select name="finish">
  <option   value="london">Buckingham palace</option>

</select>


<div ng-repeat="track in tracksIndex.all">
  <p>
    <h1>{{ track.name }}</h1>
    {{ track }}
    <button ui-sref= "tracksShow({ id: track.id })">Track Show</button>
    <button ui-sref= "tracksEdit({ id: track.id })">Track Edit</button>
  </p>
</div>
