<section class="fullscreen">
  <h1>Select Your Route</h1>

  <div class="pure-g">
      <select name="city" class="filter pure-u-1-1" placeholder="City">
        <option value="london">London</option>
        <option value="spain" disabled>Spain</option>
        <option value="italy" disabled>Italy</option>
        <option value="turkey" disabled>Turkey</option>
      </select>

      <select name="start" ng-model="search.start" class="filter pure-u-1-1" ng-options="track.start.name for track in tracksIndex.all"></select>

      <select name="finish" ng-model="search.finish" class="filter pure-u-1-1" ng-options="track.finish.name for track in tracksIndex.unique" ></select>

  </div>

  <!-- <input type="text" ng-model="search"> -->

  <div>
    Displaying routes:
    <!-- <span ng-repeat="track in tracksIndex.all | filter:filterQuery" class="listItem clearfix" > -->
    <span ng-repeat="track in tracksIndex.all | filter:search.start | filter:search.finish" class="listItem clearfix" >

      <h4 ng-click="tracksIndex.getLatLng(track)">{{ track.name }}</h4>
      <a class="pure-button pure-button-primary" ui-sref= "tracksShow({ id: track.id })">Run now</a>
    </span>
    <button>Scroll down</button>
  </div>
</section>

<section class="fullscreen">
  <ng-map id="map" center="37.7699298, -122.4469157" scrollwheel="false" on-click="logLatLng()"  class="fullscreen">

      <!-- <marker position=": 36.9915359, lng: 35.260788"></marker> -->
    <directions
      draggable="true"
      panel="directions-panel"
      travel-mode="WALKING"
      waypoints="[

            {location: {lat:44.55916341529184, lng: -76.17919921875}, stopover: true}
          ]"
      origin="tracksIndex.startLatLng"
      destination="tracksIndex.finishLatLng">
    </directions>
  </ng-map>
</section>
