<section class="formContainer">
  <h1>New Track</h1>
  <form class="pure-form pure-form-aligned" name="tracksNew.newForm" ng-submit="tracksNew.update()" novalidate>
    <fieldset>
      <div class="pure-control-group">
        <label for="trackName">Name</label>
        <input type="text" name="trackName" id="trackName" ng-model="tracksNew.track.name" required>
        <span ng-messages="tracksNew.newForm.trackName.$error" role="alert" ng-show="(tracksNew.newForm.$submitted || tracksNew.newForm.trackName.$touched) && tracksNew.tracksNewForm.trackName.$invalid" class="error">
          <div ng-message="required">Please enter a value for this field.</div>
        </span>
      </div>
      <div class="pure-control-group">
        <label for="start">Start</label>
        <input type="text" name="start" id="start" ng-model="tracksNew.track.start.name" required>
        <span ng-messages="tracksNew.newForm.start.$error" role="alert" ng-show="(tracksNew.newForm.$submitted || tracksNew.newForm.start.$touched) && tracksNew.newForm.start.$invalid" class="error">
          <div ng-message="required">Please enter a value for this field.</div>
          <div ng-message="start">This field must be a valid starting address.</div>
        </span>
      </div>
      <div class="pure-control-group">
        <label for="finish">Finish</label>
        <input type="text" name="finish" id="finish" ng-model="tracksNew.track.finish.name" required>
        <span ng-messages="tracksNew.newForm.finish.$error" role="alert" ng-show="(tracksNew.newForm.$submitted || tracksNew.newForm.finish.$touched) && tracksNew.newForm.finish.$invalid" class="error">
          <div ng-message="required">Please enter a value for this field.</div>
        </span>
      </div>
      <div class="pure-control-group">
        <label for="distance">Distance</label>
        <input type="text" name="distance" id="distance" ng-model="tracksNew.track.distance" required>
        <span ng-messages="tracksNew.newForm.distance.$error" role="alert" ng-show="(tracksNew.newForm.$submitted || tracksNew.newForm.distance.$touched) && tracksNew.newForm.distance.$invalid" class="error">
          <div ng-message="required">Please enter a value for this field.</div>
        </span>
      </div>

      <div class="pure-controls">
        <button class="pure-button pure-button-primary">Update</button>
      </div>
    </fieldset>

  </form>
</section>
