<h1>Show Track</h1>

<button class="pure-button button-success" ng-click="tracksShow.selectTrack()">Start running this track</button>
<div>
  <p>
    <h2>{{ tracksShow.track.track.name }}</h2>
    <div class="tracksShowImage">
      <img ng-src="{{ tracksShow.track.track.finish.img }}">
    </div>
    <p>
      A {{ tracksShow.track.track.distance }} mile run<br>
      From {{ tracksShow.track.track.start.name }}<br>
      To {{ tracksShow.track.track.finish.name }}
    </p>
    <p>
      This run has been done {{ tracksShow.track[attemptedBy].length() }} times.
    </p>
    <!-- {{ tracksShow.track }} -->
    <button class="pure-button pure-button-primary" ui-sref="tracksEdit({ id: tracksShow.track.track.id })">Track Edit</button>
    <button class="pure-button button-danger" ng-click="tracksShow.delete()">Track Delete</button>
  </p>
</div>
