<h1>Project 3 Homepage</h1>
<!-- <img class="" src="https://images.pexels.com/photos/29578/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb" alt=""> -->
<section>
<div class="container">
  <div class="homeLabel">
  <h4>Run with a purpose</h4>
  <p>
    Don't like treadmills or aimless running around town?
    <ul>
      <li>Discover new running routes</li>
      <li>Show off your landmark selfies</li>
      <li>Compete for the best time</li>
    </ul>
  </p>
  </div>
</div>
</section>
<section class="secondPage">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
