<section class="fullscreen">
  <div class="label">
    <h1>RUN IMG</h1>
    <h3>The Social Fitness App</h3>
    <h4>Explore your city with RUN IMG</h4>
    <p>Take a selfie in front of a famous landmark and start your run. When you get to the end point, take another selfie in front of it to finish your run.</p>
    <button class="pure-button pure-button-primary" ui-sref="tracksIndex">View Run List</button>
    <button class="pure-button pure-button-primary for-reg" ui-sref="login">Login</button>
    <a href="register">Not Registered? Click here</a>
  </div>

<div id="runningButton" ></div></section>
