<h1>Sprints Index (Newsfeed)</h1>

<div class="pure-g" ng-repeat="sprint in sprintsIndex.all">
  <div class="pure-u newsfeed">
    <h3><a ui-sref="sprintsShow({ id: sprint.id })">{{ sprint.start.time | limitTo : 10 : 0 }} - {{ sprint.start.time | limitTo : 8 : 11  }}</a></h3>
    <div class="clearfix">
      <img ng-src="{{ sprint.start.imgSRC }}" alt="start user photo">
      <img ng-src="{{ sprint.finish.imgSRC }}" alt="finish user photo">
    </div>
    <div class="centered">
      <p>Date: {{ sprint.start.time | limitTo : 10 : 0 }}</p>
      <p>Start time: {{ sprint.start.time | limitTo : 8 : 11 }}</p>
      <p>Finish time: {{ sprint.finish.time | limitTo : 8 : 11  }}</p>
      <p>Duration: {{ sprint.duration }} seconds</p>
    </div>
    <hr>
    <!-- <button class="pure-button pure-button-primary" ui-sref= "sprintsEdit({ id: sprint.id })">Edit</button> -->
  </div>


  <!-- <div class="pure-g">
    <img class="pure-u-1-2 pure-img sprintsIndex" ng-src="{{ sprint.start.img }}">
    <img class="pure-u-1-2 pure-img sprintsIndex" ng-src="{{ sprint.finish.img }}">
  </div> -->
  <hr>
</div>
