<section class="formContainer">
  <h1>New Sprint</h1>

  <form ng-submit="sprintsNew.create()" class="sprint-upload">

    <p>To start this run you'll  need to upload a photo of you with -{{ sprintsNew.track.start.name }}- in the background.</p>

    <div class="form-group">
      <label for="base64" class="image-input">Upload your start image!</label>
      <input type="file" base64 name="base64" id="base64" ng-model="sprintsNew.sprint.base64" >
    </div>

    <button class="btn btn-primary pure-button pure-button-primary">Submit</button>
  </form>
</section>
