<h1> Your Run Details</h1>

<button class="pure-button pure-button-primary" ng-click="">Public</button>
<button class="pure-button pure-button-primary" ng-click="">Private</button>

<p>Start time: {{ sprintsShow.sprint.start.time }}</p>
<p>Finish time: {{ sprintsShow.sprint.finish.time }}</p>
<p>Runner: {{ sprintsShow.sprint.createdBy }}</p>

<div class="pure-g">
  <img class="pure-u-1-2 pure-img sprintsIndex" ng-src="{{ sprintsShow.sprint.start.img }}">
  <img class="pure-u-1-2 pure-img sprintsIndex" ng-src="{{ sprintsShow.sprint.finish.img }}">
</div>
