<section class="formContainer">
  <h1 class="form-header">Login</h1>
  <form name="login.loginForm" class="pure-form pure-form-aligned" ng-submit="login.submit()" novalidate>
    <fieldset class="">
      <div class="pure-control-group">
        <input type="email" name="email" id="email" ng-model="login.credentials.email" required placeholder="Email">
        <span ng-messages="login.loginForm.email.$error" role="alert" ng-show="(login.loginForm.$submitted || login.loginForm.email.$touched) && login.loginForm.email.$invalid" class="error">
          <div ng-message="required">Please enter your email.</div>
          <div ng-message="email">Must be a valid email address.</div>
        </span>
      </div>
      <div class="pure-control-group">
        <input type="password" name="password" id="password" ng-model="login.credentials.password" required placeholder="Password">
        <span ng-messages="login.loginForm.password.$error" role="alert" ng-show="(login.loginForm.$submitted || login.loginForm.password.$touched) && login.loginForm.password.$invalid" class="error">
          <div ng-message="required">Please enter your password.</div>
        </span>
      </div>

      <div class="pure-controls">
        <button class="pure-button pure-button-primary" ng-disabled="login.loginForm.$invalid">Login</button>
      </div>
    </fieldset>
  </form>
</section>
