*:not(button input) {
  width: 100%;
}

//
// nav {
//   ul {
//     list-style: none;
//     li {
//       // display: inline-block;
//       padding: 2vw;
//     }
//   }
// }
//
// h1 {
//   font-size: 10vw;
// }
// h2 {}
// h3 {}
// h4 {
//   font-size: 6vw;
// }
// h5 {}
// h6 {}
//
//
//

.button-success,
.button-danger {
// .button-warning,
// .button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-danger {
    background: rgb(202, 60, 60); /* this is a maroon */
}

// .button-warning {
//     background: rgb(223, 117, 20); /* this is an orange */
// }
//
// .button-secondary {
//     background: rgb(66, 184, 221); /* this is a light blue */
// }

.pure-img {
  &.sprintsIndex {
    height: 50vw;
    display: inline-block;
  }
}


// These are for Huw, we can maybe delete them later:

.fullscreen {
  height: 100vh;
}

.outline {
  border: 1px solid black;
}
